@font-face {
  font-family: la;
  src: url(fonts/smith.ttf);
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
body{
  text-align: center;
  background-color: gainsboro;
  font-family: la;
}
button{
  background:#98a2a9;
  width: 50%;
  color: white;
  font-family: la;
  font-size: 20px;
  height: auto;
}
.formContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.selectContainer{
  width: 100%;
}