@font-face {
  font-family: la;
  src: url(fonts/smith.ttf);
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px 20px;
}
.App h1{
  margin-top: 20px;
}
.underConstruction{
  background-color: lightyellow;
  width: 110%;
  padding: 10px 0;
}
.underConstruction h6{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
  background-color: gainsboro;
  font-family: la;
}
button{
  /* background:#0272b9; */
  width: 50%;
  color: white;
  font-family: la;
  font-size: 20px;
  height: 50px;
}
.formContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.refresh{
  margin: 0;
  margin-bottom: 4rem;
}
.selectContainer{
  width: 100%;
}
.stationCardContainer{
  width: 100%;
}
.stationCard{
  width: 100%;
  height: auto;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s ease;
}
.stationCard:hover{
  text-decoration: none;
  /* transform: scale(1.01); */
  color: rgba(0,0,0,0.4);
  transition: all 0.1s ease;
}
.stationCard h1{
  margin: 0;
  padding: 10px 0;
}
.arrivalTimes{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.trainDirections{
  display: flex;
  justify-content: space-evenly;
  /* Add collapseablility */
  /* max-height: 300px; */
  transition: max-height 1s ease;
  overflow: auto;
}
.trainDirections div{
  margin: 0 10px;
}
.open{
  max-height: 300px;
  overflow: hidden;
}
.close{
  max-height: 0;
  overflow: hidden;
}
.blue{
  background-color: #004dac;
}
.red{
  background-color: #ee3a43;
}
.green{
  background-color: #2eab00;
}
.gold{
  background-color: #da7c20;
}
.purple{
  background-color: #9561a9;
}
.expo{
  background-color: #5bc2e7;
}
::-webkit-scrollbar {
  display: none;
}
@media (max-width: 700px){
  .formContainer{
    width: 100%;
  }
}
@media (min-width: 1000px){
  .stationCardContainer{
    width: 60%;
  }
  .refresh{
    width: 30%;
  }
}