@font-face {
  font-family: la;
  src: url(fonts/smith.ttf);
}
body{
  text-align: center;
  background-color: gainsboro;
  font-family: la;
}
button{
  background:#98a2a9;
  width: 200px;
  color: white;
}
.formContainer{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.selectContainer{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}